.form-container {

  .titlepost {
    text-transform: uppercase;
    font-size: 1.5rem;
    
  }
  .form-content {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
    font-size: 1.2rem;
    label {
      font-size: 1.3rem;
      font-weight: 400;
    }
    input {
      height: 2rem;
    }
    select {
      height: 2rem;
    }
    .button {
        height: 2rem;
        background-color: #fff;
        border: none;
        font-size: 1.5rem;
        transition: .5s;
    }
    .button:hover {
        background-color: #6f71e9;
        color: #fff;
    }
  }
 .error{
   background-color: red;
   text-align: center;
   color: #fff;
   font-weight: 400;
   padding: 0;
   margin: 0;
 }
}
