

.App {
  text-align: center;
}

.slogan {
  color: #e74708;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;


  .sloganText {
    font-size: 30px;
  }
  
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title{
  font-size: 70px;
}

@media (max-width: 575px){
  .title{
    font-size: 35px;
  }
}